<app-not-found
  [visible]="!restaurant"
  notFoundMessage="restaurant Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="restaurant" class="container">
  <img [src]="restaurant.imageUrl" [alt]="restaurant.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{restaurant.name}}
      </span>
      <span class="favorite ">❤</span>
    </div>
    <div>
        <span>
            {{restaurant.description}}
        </span>
    </div>
    <div class="rating">
      <star-rating [stars]="restaurant.stars" [size]="1.8"></star-rating>
    </div>    

    <div class="contact">
      <h4 style="display: inline-block; margin-right: 20px;">Contact:</h4>
      <span>
        {{restaurant.contact}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of restaurant.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="review">
      <h3>Reviews:</h3>
      <div *ngIf="restaurant.reviews && restaurant.reviews.length > 0; else noReviews">
        <div *ngFor="let review of paginatedReviews" class="review-item">
          <strong>Rating:</strong> {{ review.rating }}<br>
          <strong>Nickname:</strong> {{ review.nickname }}<br>
          <strong>Text:</strong> {{ review.text }}<br>
          <strong>Email:</strong> {{ review.mail }}<br>
        </div>
    
        <div class="pagination">
          <button 
            *ngFor="let page of [].constructor(totalPages); let i = index" 
            (click)="changePage(i + 1)"
            [class.active]="currentPage === i + 1">
            {{ i + 1 }}
          </button>
        </div>
      </div>
    
      <ng-template #noReviews>
        <p>No reviews yet. Be the first to leave one!</p>
      </ng-template>
    </div>
    
    <button [routerLink]="['/review', restaurant.id]">Review</button>

  </div>
</div>
